body {
  position: absolute;
  width: 100%;
  height: 100%;
}

// Overriding site-main
.site-main.lander-page {

  @include breakpoint(max-width 1159px) {
    max-width: none;
    margin: 0px;
  } //breakpoint(min-width 1160px)

  @include breakpoint(min-width 1160px) {
    max-width: none;
    .indent {
      max-width: 1000px;
      margin: 0px auto;
    } //.indent
  } //breakpoint(min-width 1160px)
  @include breakpoint(max-width 1159px) {
    .indent {
      margin: 0px;
      padding: 0px 4rem;
    } //.indent
  } //breakpoint(max-width 1159px)
  @include breakpoint(max-width 320px) {
    .indent {
      margin: 0px 2rem;
    } //.indent
  } //breakpoint(max-width 320px)

} //.site-main.lander-page


// MAIN CONTENT WRAPPER
.content-area {
  border: 3px dashed mediumpurple;
  min-height: 500px;
  background: #FFFFFF;

  .front-left,
  .front-right {
    width: 100%;
    float: none;
    padding: 0px;
  }
  @include breakpoint(min-width 750px) {
    .front-left {
      width: 50%;
      float: left;
      padding-right: 4rem;
    } //.front-left
    .front-right {
      width: 50%;
      float: right;
        padding-left: 4rem;
    } //.front-right
  }

  // Call to action
  #call-to-action {
    color: #FFFFFF;
    background: rebeccapurple;
    padding: 1em 0px;
    @include clearfix();
    h2 {
      text-align: center;
    }
  } //#call-to-action

  // Testimonials
  #testimonials {
    padding: 1em 0px;
    background: $greylight;
  } //#testimonials

  // Services
  #services {
    padding: 1rem 0px;
  } //#services

  // Meet the doctor
  #meet {
    padding-top: 1rem;
    padding-bottom: 6rem;
    color: #FFFFFF;
    background-color: #00497A;
  }

  // Contact
  #contact {
    padding: 1rem 0px;
    h2 {
      text-align: center;
    } //h2
  } //#contact

} //.content-area

